.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
      0deg,
      rgba(0, 30, 116, 0.6) 0%,
      rgba(0, 30, 116, 0.6) 100%
    ),
    url(https://res.cloudinary.com/dtjgawrwz/image/upload/v1733821903/serviceimg1_zt0xvt.png)
      no-repeat center center/cover;
  padding: 160px 50px 50px 50px;
  color: white;
}

.contact-details {
  line-height: 42px;
  flex: 1;
  padding: 20px;
}

.contact-details h2 {
  color: #fff;
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-details p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-details a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.form-section {
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.form-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-section p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-section button {
  width: 100%;
  padding: 12px;
  background-color: #0056ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.form-section button:hover {
  background-color: #003fbb;
}

.consent-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: #555;
}

.consent-checkbox input {
  width: fit-content;
  margin-right: 8px;
}

.phone-numbers {
  display: flex;
  justify-content: start;
}
